<!DOCTYPE html>
<html>
<head>
<style>
body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
  background-image: url("http://funds.gfmcdn.com/7809611_1457016198.0036.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
button {
    background-color: #ff6600; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button {
    opacity: 1.0;
    background-color: white;
    color: black;
    border: 2px solid #ff6600;
    border-radius: 12px;

}

button:hover {
    background-color: #ff6600;
    color: white;
}
</style>
</head>

<body>

<div class="hero-image">
</div>
<button><a href="/">Go back home</a></button>
<body>
<br>
<br>
<b><center><font size="4">If you became homeless... <font color=#961818>what would you do?</font></b></font>
<br>
<br>
<center>
<iframe width="420" height="345" src="https://www.youtube.com/embed/KClmslwp5j8">
</iframe>
<br>
<br>
<b><font size="4">CHANGE is an emotional homeless survival experience set in a randomly generated city with rogue-like elements.</b></font>
<br>
<br>
<a href=https://www.kickstarter.com/projects/1971413574/change-a-homeless-survival-game>https://www.kickstarter.com/projects/1971413574/change-a-homeless-survival-game</a>
</body>
<br>
<br>
<br>
<br>

<p><b><center><font face="Verdana" color=#961818><font size="5">Volunteer For The Homeless</b><center></font></font>
<br>
<b><u><font size="4">Project Homeless Connect</b></u></font>
<br>
<a href=https://www.projecthomelessconnect.org/volunteer/>https://www.projecthomelessconnect.org/volunteer/</a>
<br>
<br>
<b><u><font size="4">Shower To The People</b></u></font>
<br>
<a href=http://www.showertothepeople.net/join-us/>http://www.showertothepeople.net/join-us/</a>
<br>
<br>
<b><u><font size="4">SF Homeless Project</b></u></font>
<br>
<a href=http://projects.sfchronicle.com/sf-homeless/help-guide/widget/index.html>http://projects.sfchronicle.com/sf-homeless/help-guide/widget/index.html</a> </p>

<br>
<p><b><center><font face="Verdana" color=#961818><font size="5">Resources</b></center></font></font>
<br>
<b><u><font size="4">Shower To The People</b></u></font>
<br>
<a href=http://www.showertothepeople.net/the-shower-truck/>http://www.showertothepeople.net/the-shower-truck/</a>
<br>
<br>
Our Flagship program is our Mobile Shower Truck, a converted box truck built to provide showers and hygiene products to members of our local homeless population where they are. Our hope with this project is to Restore Dignity to those we serve who may have lost it. We know that when you get out of a hot shower you feel like a million bucks, and that's something we want our friends on the streets to experience. <b>A shower can give you a sense of normalcy, foster a little hope, and build towards better health. </b>
<br>
<br>
We also aim to use our truck as a connection point for other services. Through our developing Referral Network, we hope to help assess the needs of those we encounter and successfully direct them to services that provide to those needs. After all, our end goal is the resolution of homelessness in our communities, not simply to enable those who are experiencing homelessness to be cleaner.
<br>
<br>
<br>
<b><u><font size="4">Project Homeless Connect</b></u></font>
<br>
<a href=https://www.projecthomelessconnect.org/get-help/services/>https://www.projecthomelessconnect.org/get-help/services/</a>
<br>
<br>
PHC’s daily services include:
<br><b>
Vision Services & Eyeglasses
<br>
Dentures
<br>
Housing Search Workshops
<br>
DMV IDs
<br>
CA Lifeline Cell Phones
<br>
HandUp
<br>
Hygiene supplies
<br>
Free Haircuts
<br>
Clothing & Housing Items</p></b>
<br>
<br>

<p><b><center><font face="Verdana" color=#961818><font size="5">Donations</b></font></font>
<br>
<br>
<b><u><font size="4">Homeless Action Center</b></u></font>
<br>
<a href=https://donatenow.networkforgood.org/hacsupport>https://donatenow.networkforgood.org/hacsupport</a>
<br>
<br>
People who are homeless are overwhelmingly poor, disabled, ill and marginalized. The Homeless Action Center (HAC) provides no-cost, barrier-free, culturally competent legal representation that makes it possible for people who are homeless or at risk of becoming homeless to access the maze of social safety net programs that provide a pathway to a better life.
<br>
<br>
Founded in 1990, the Homeless Action Center (HAC) provides free legal assistance with a range of public benefits programs, including Supplemental Security Income (SSI), Social Security Disability Insurance (SSDI), Medi-Cal, CalWorks, Cal-Fresh (food stamps) General Assistance (GA) and Cash Assistance Programs for Immigrants (CAPI).  We also provide informal advice and referrals for non-benefits related legal issues.
<br>
<br>
<br>
<b><u><font size="4">Project Homeless Connect</b></u></font>
<br>
<a href=https://donatenow.networkforgood.org/phcsf?code=123>https://donatenow.networkforgood.org/phcsf?code=123</a>
<br>
<br>
Project Homeless Connect strengthens and utilizes collaborations with city agencies, businesses, and organizations to provide comprehensive holistic services, both at service events and through continued care, for those who are at risk of becoming homeless, are currently homeless or are transitioning from shelter to permanent housing.
<br>
<br>
<br>
<b><u><font size="4">Shower To The People</b></u></font>
<br>
<a href=http://www.showertothepeople.net/donate/>http://www.showertothepeople.net/donate/</a>
<br>
<br>
100% of the hygiene supplies we give out from day to day are donated by individuals, schools, businesses, churches, and other groups.
<br>
<br>
All of the hygiene supplies that we hand out to our friends and neighbors on the streets come from small donors who believe, like we do, that everyone deserves to feel clean, and have dignity.
<br>
<br>
<br>
<b><u><font size="4">SF Homeless Project</b></u></font>
<br>
<a href=http://projects.sfchronicle.com/sf-homeless/help-guide/widget/index.html>http://projects.sfchronicle.com/sf-homeless/help-guide/widget/index.html</a>
<br>
<br>
A directory of nonprofit groups that need donations of specific items or volunteer help. To add your nonprofit to the list, email sfhomelessproject@gmail.com.
<br>
</p>
<br>
<br>
<br>
<button><a href="/">Go back home</a></button>
</body>
</html>
