{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="{% static '/css/blog.css' %}">
</head>
<body>

  <div class='back'>
<div id="sanfran">
<header>San Francisco</header>
</div>
<button><a href="/">Go back home</a></button>
<br><br>
<p><ul><img src='https://www.bacr.org/images/article_images/news/handsonbayarea.png' width='140px' height='125px' align="left"><b><font size='6'> HandsOn Bay Area</font></b></ul>
  <ul>Description: (All ages)
  HandsOn Bay Area creates awesome volunteering projects to connect people like you with schools, parks and nonprofits that need your help.
  HandsOn Bay Area staff works with local nonprofits, schools and parks to identify high-impact, group-based volunteer projects. These projects
  may meet an ongoing need of an organization or its clients, or they may be one-time, large-scale transformations of facilities or green spaces.
  We recruit volunteers to get the job done and match each project with a trained Project Leader to ensure that both our community partner and the
  volunteers are satisfied with the work.
  More information, <a href=' https://www.handsonbayarea.org/calendar'>Click Here</a></ul>
  <ul>Contacts: Phone: 415-541-9616 • E-mail: info@handsonbayarea.org</ul>
  <ul>Address: 1504 Bryant St #100, San Francisco, CA 94103</ul></p>

  <br><br>

  <p><ul><img src='https://pbs.twimg.com/profile_images/874751713655218176/1IbjS0Eg.jpg' width='100px' height='125px' align="left"><b><font size='6'>SFSPCA (San Francisco Society for the Prevention of Cruelty to Animals)</font></b></ul>
  <ul>(Ages 4-18)
Kids ages 4 - 18 can participate in our new Humane Heroes Program! This program has kids helping the SF SPCA in their own community, with monthly meetings (with animal friends), and the opportunity to win great prizes (like SF SPCA gear, animal time, and the option for High School students to join our adult shelter volunteer program!).<br>
(Ages 18+)
Dog, Cat and Smalls Socializing and Training
Help make their stay less stressful and ready them for a loving home by spending time socializing or training cats, dogs, rats and rabbits and making sure dogs get their daily walks. Advanced volunteer opportunities available including Adoption Matchmaking, Animal Photography, Dog Training Class Assistance and Food Preparation and Feeding.
 For more information, <a href=' https://www.sfspca.org/youth-programs/youth-volunteers'>Click Here</a>
</ul>
  <ul>Contacts: Please call 415-522-3523 or email volunteers@sfspca.org.
</ul>
  <ul>Address: 250 Florida Street San Francisco CA 94103</ul></p>

    <br><br>

  <p><ul><img src='https://foodlocator.sfmfoodbank.org/images/logo-large.jpg' width='110px' height='125px' align="left"><b><font size='6'>Name: SF Marin Food Bank</font></b></ul>
  <ul>Weekdays(Ages 11+), Saturdays(Ages 8+), Sundays(Ages 4+)<br><br>
Your time and dedication are important resources in the fight against hunger. The Food Bank relies on volunteers to help us with a variety of projects – you can help sort produce in our warehouse or lend a hand at a pantry, where you’ll put food directly into the hands of neighbors in need. We also have opportunities for volunteers to help teach people about CalFresh (food stamps) and demonstrate how to cook up a tasty meal.
For more information<a href='https://www.sfmfoodbank.org/volunteer/'>Click Here</a>
</ul>
  <ul>Contacts: 415-282-1900, x 244 or email volunteer@sfmfoodbank.org.
</ul>
  <ul>Address: 900 Pennsylvania Ave. San Francisco, CA 94107</ul>
  </p>

  <br><br>

  <p><ul><img src='https://sfbay.cropmobster.com/wp-content/uploads/sites/2/project-open-hand.jpg' width='100px' height='125px' align="left"><b><font size='6'>Project Open Hand</font></b></ul>
  <ul>(age minimum unknown)<br><br>
  At Project Open Hand, we rely on more than 125 volunteers every day to help prepare, package and deliver meals with love, and distribute groceries to sick and elderly neighbors. Volunteers also help us staff special events throughout the year.
We offer a variety of opportunities for individuals and groups to get involved in San Francisco and the East Bay.
For more information, <a href='https://www.openhand.org/volunteer' color='blue'>Click Here</a>
</ul>
  <ul>Please call our volunteer hotline at (415) 447-2404 or email volunteer@openhand.org.
</ul>
  <ul>Address: 730 Polk St, San Francisco, CA 94109</ul>
  </p>
  <br><br>
  <p><ul><img src='https://upload.wikimedia.org/wikipedia/en/a/ae/Reading_Partners_logo.jpg' width='170px' height='125px' align="left">
  <b><font size='6'>Reading Partners</font></b></ul>
  <ul> (Ages 14+)<br>
Reading Partners mobilizes communities to provide students with the proven, individualized reading support they need to read at grade level by fourth grade.
We know that reading is the foundation for all future learning, and the ability to read transforms lives and empowers children and communities to reach their full potential. Research shows that students who read at grade level by fourth grade have a greater opportunity to succeed in school and in life.
That’s why we partner with under-resourced schools and engage volunteer reading partners to work one-on-one with students who struggle with reading.
<br><br>- Be at least 14-years old<br>
- Commit to a minimum of one hour a week (M-Th, 8am to 5pm)​<br>
- Attend a Tutor Orientation<br>
- Pass a background check and provide proof of TB clearance<br>
 For more information<a href='http://readingpartners.org/volunteer/'>Click Here</a></ul>
  <ul>Address: Various Bay Area locations. Apply online.</ul>
  <ul>Contacts:   volunteerSF@readingpartners.org or (510) 918-2030</ul>
  </p>
  <br><br>
  <p><ul><img src='https://svetlananakamurarn.files.wordpress.com/2016/07/p2.png?w=625' width='170px' height='125px' align="left">
  <b><font size='6'>San Francisco VA Medical Center</font></b></ul>
  <ul> (Ages 16+)<br>
    Honor America's Veterans by providing exceptional health care that improves their health and well-being.
    To provide the highest quality of medical care to veteran patients.
    16 years of age or older with good communication skills.
    Have or gain ability to enjoy meeting people in a friendly demeanor, converse with veterans, families and staff in a respectful manner
    Must be able physically fit and able to walk long distances or stand for extended periods of time and be able to push an escort chair or wheelchair.
    Must be able to get along well with patients, staff and volunteers
    Willing to wear a uniform<br>
    Escort patients to and from medical center appointments, canteen, patient services, hospital and other locations within the medical center.
    Work collaboratively with Concierge and address escort needs
    Clerical duties: answering telephone calls for escort, logging in escort assignments, other duties as assigned.
    Make sure Staxi chairs and escort desk are clean, using disinfectant cleaner and paper towels.
    Sit and socialize with patients for short periods of time if directed and only when there are no patients in need of escorting.
    Communicate with Voluntary Service staff about escort schedule.
 For more information<a href='https://www.teenlife.com/community-service-organization/san-francisco-va-medical-center/#inline_content'>Click Here</a></ul>
  <ul>Address: 4150 Clement St, San Francisco, CA 94121</ul>
  <ul>Contacts:Please call (415) 221-4810 for more information</ul>
  </p>
  <br><br>
  <p><ul><img src='https://pbs.twimg.com/profile_images/715676083807358976/ACyHj9hL_400x400.jpg' width='140px' height='125px' align="left">
  <b><font size='6'>Galería de la Raza</font></b></ul>
  <ul>(Teens)<br>
Volunteers play a vital role in the heart and soul of our programs. Galería is continuously looking for generous individuals to
take part in our ongoing program of events, and with general gallery sitting and administrative assistance. By joining us as a volunteer,
you get to experience our events from a free and exciting behind-the-scenes viewpoint, as well as interact with a community of arts appreciators.
<br>General volunteer opportunities include, but are not limited to the following: <br>-Events: Set-up + clean-up before and after performances, openings, and additional events. Learn how to assist in running events such as exhibition opening parties, our monthly Lunada, and artist talks.<br>
- Gallery sitting: Code for reading a book or just meeting all matter of walking life, gallery sitters help with reception desk tasks as well as greet visitors and assist with the maintenance of the gallery space.​<br>
- Marketing: We always need a hardy dose of enthusiasm and a ready smile to help us distribute postcards and flyers around the Mission and beyond for events happening at Galeria.<br>
- La Mini Tienda: Our store of Galeria wares and goodies needs its own dose of TLC. Some skills include merchandising, restocking, and inventory.<br>
 For more information<a href='http://www.galeriadelaraza.org/eng/opportunities/index.php?c=volunteer'>Click Here</a></ul>
  <ul>Address: 2857 24th St, San Francisco, CA 94110</ul>
  <ul>Contacts: Please call (415) 826-8009 for more information</ul>
  </p>
  <br><br>
  <p><ul><img src='https://media.licdn.com/media/AAEAAQAAAAAAAAKaAAAAJGY1NWEzYjVkLTJjNjctNDU0OS04ZDBmLTZhOWEyNWY2MDk2Nw.png' width='140px' height='125px' align="left">
  <b><font size='6'> SF Jazz Organization</font></b></ul>
  <ul> (Teens)<br>
    SFJAZZ volunteers are a dedicated group of individuals who are central to our efforts in bringing world-class jazz to the San Francisco Bay Area. Over 200 volunteers share their time and talents with us in a variety of capacities during our annual seasons, Summer Sessions, and the San Francisco Jazz Festival. <br>
    These include: Ushering, Special Events, Office Assistance, Education Events <br>
    We honor and reward our volunteers in a number of ways, including complimentary tickets and appreciation parties. Plus, volunteers who contribute 30 hours or more of service in a year receive the gift of an SFJAZZ Individual level membership.

  <ul>Address:201 Franklin Street, San Francisco, CA 94102</ul>
  <ul>Contacts: To learn more about volunteering at SFJAZZ, email volunteer@sfjazz.org or call (866) 920-5299</ul>
  </p>
<button><a href="/">Go back home</a></button>
</div>
</body>
</html>
